BODY{
	margin:0px;
	padding:20px;
	padding-top:0px;
	background: #253643 url(images/background.png) repeat-x top left;
}

.left-panel {
	background: #edf1f3 url(images/background_panel.png) repeat-x top left;
}

.transparent {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE 5.5+*/
    -moz-opacity: 0.8; /* Mozilla 1.6 桭駥 */
    -khtml-opacity: 0.8; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.8; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

.topmenu {
    color: black;
    font-size: 8pt;
    background-color: white;
    padding: 3px;
    border-bottom: 1px solid silver;
    margin-bottom: 0px;
}

.topmenu a{
    color: black;
}

.topmenu-links{
    margin-left:-20px;
    float:left;
    font-size:8pt;
    font-weight:bold;
}
.topmenu-links .selected{
    font-weight: normal;
}

#NewsPage div.news-block {padding-left:15px; padding-right:15px; width:750px}
#NewsPage .news_text {font: normal 12px arial, sans-serif; color: #2c2c2c;}
#NewsPage .news_head {font: bold 15px arial, sans-serif; color: #1A64B5; text-decoration: none;}
#NewsPage .news_head:hover {font: bold 15px arial, sans-serif; color: #1A64B5; text-decoration: underline;}
#NewsPage .news_head:visited {font: bold 15px arial, sans-serif; color: #1A64B5; text-decoration: none;}
#NewsPage .news_author {font: italic normal 12px arial, sans-serif; color: #3c3c3c; text-decoration: none;}
#NewsPage .news_date {font: normal 11px arial, sans-serif; color: #808080; text-decoration: none;}
#NewsPage .news_date a {font: normal 11px arial, sans-serif; color: #808080; text-decoration: none;}
#NewsPage .page-link {font: normal 12px arial, sans-serif; color: #2c2c2c;margin:2px;}
#NewsPage .page-link-current {font: bold 12px arial, sans-serif; color: #2c2c2c;border: 1px solid silver;margin:2px;background-color: silver;}


.page-selector, #PageSelector {
  float:left;
  width:100%;
  border-bottom: 1px solid silver;
  font-size: 8pt;
  line-height:normal;
  margin: 0;
  padding-top: 0px;
  }
.page-selector ul, #PageSelector ul {
  margin:0;
  padding:0;
  list-style:none;
  }
.page-selector li, #PageSelector li {
  float:left;
  background:url("images/tab.png") no-repeat left top;
  width: 124px;
  height: 27px;
  margin: 0;
  padding:0 0 0 0;
  text-align: center;
  margin-right: -1px;
  margin-bottom: -1px;
  }
.page-selector a, #PageSelector a {
  display:block;
  padding:7px 0px 4px 0px;
  text-decoration:none;
  color:black;
  }

.page-selector li:hover, #PageSelector li:hover {
  background:url("images/tab.hover.png") no-repeat left top;
  }
.page-selector .current, #PageSelector #current {
  background-image:url("images/tab.active.png");
  }
.page-selector  .current a, #PageSelector #current a {
  font-weight:bold;
  color:black;
  padding-bottom:5px;
  }
  
#StartPage, #CatalogPage, #SearchPage, #FilmsPage, #NewsPage, #NewsBox {
	clear:both;
	padding:0;
	border-left:1px solid silver;
	border-right:1px solid silver;
	border-bottom:0px;
	background-color: white;
}
#PreferencesPage {
    clear:both;
    padding:0;
    border-left:1px solid silver;
    border-right:1px solid silver;
    border-bottom:0px;
}
#NewsBox {
	margin:0;
	border-bottom:1px solid silver;
}

BODY, INPUT, DIV, TABLE{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

A {
	color: #000066;
	text-decoration: none;
}
A:HOVER {
	text-decoration : underline;
}

A.control {
	text-decoration: none;
}

.filmlist, .filmlistsel{
	border-top: 1px solid silver;
	font-size: 8pt;
}

.filmlistsel{
	background: #E0F0FF;
}

.footer-new {
    color: black;
    background-color: #f0f0f0;    
    font-size: 8pt;
    padding: 5px;
    border: 1px solid silver;
}

.clear {
	clear:both;
	height:1px;
	overflow:hidden;
}

TABLE.recomended, TABLE.lastrating, TABLE.lastcomments{
	font-size:8pt;
}


#FilterBox,#FilterBox table, #FilterBox select{
	font-size:8pt;
}

.sectionheader {
	font-size:10pt;
	font-weight:bold;
}

TABLE.film {
	font-size:8pt;
}

TABLE.filmdetail {
	font-size:8pt;
}

TABLE.filmdetail TD{
	border-bottom: 1px solid #F0F0F0;
}

DIV.PersonSelected{
	margin:5px;
	font-size:8pt;
	float:left;
	border : 1px solid silver;
	text-align : justify;
	clear : both;
	width : 97%;
	padding : 5px;
	background : #F5F5F5;
}

DIV.PersonUnselected {
	margin:5px;
	font-size:8pt;
	float:left;
	clear : none;
	width : 100px;
	text-align : center;
	border : 0px;
	padding : 0px;
	background : white;
}

TD.hcomment_left, TD.hcomment_center, TD.hcomment_right{
	background : silver url('images/hcomment_left.gif');
	height:20px;
	font-size  : 8pt;
}

TD.hcomment_center{
	background : silver url('images/hcomment_center.gif');
}

TD.hcomment_right{
	background : silver url('images/hcomment_right.gif');
}


TD.footer1, TD.footer2, TD.footer3{
	height:63px;
	border-top : 0px;
	background : white;
}

TD.footer2{
	font-size  : 8pt;
	text-align : right;
}
TD.footer1{
    border-left : 1px solid silver;
}
TD.footer3{
    border-right : 1px solid silver;
}

TABLE.playfilm{
	font-size  : 8pt;
	border-top : 1px solid silver;
	border-left : 1px solid silver;
	border-right : 0px;
	border-bottom : 0px;
	border-collapse: collapse;
}
TABLE.playfilm TR TD{
	border-top : 0px;
	border-left : 0px;
	border-right : 1px solid silver;
	border-bottom : 1px solid silver;
}

.alert_link{
	font-weight:bold;
	background-color:#CC1111;
	color:#FFFFFF;
}

.paginator {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
}

.paginator a, .paginator span{
    padding-left: 3px;
    padding-right: 3px;
    font-size: 8pt;
}

.paginator .current{
    background-color: #E1E1E1;
    font-weight: bold;
    margin: 2px;
}

.paginator .disabled {
    border: 0;
}

.paginator a.short {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 7pt;
}

.paginator .arrow {
    font-size: 10pt;
    border: 0;
}