BODY{
	margin:3px;
	padding:0px;
}

BODY, INPUT, DIV, TABLE{
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

A {
	color: #000066;
	text-decoration: none;
}
A:HOVER {
	text-decoration : underline;
}

A.control {
	text-decoration: none;
}

.filmlist, .filmlistsel{
	border-top: 1px solid silver;
	font-size: 8pt;
}

.filmlistsel{
	background: #E0F0FF;
}

#PageSelector {
  float:left;
  width:100%;
  background:#FFFFFF url("images/bg.gif") repeat-x bottom;
  font-size:93%;
  line-height:normal;
  margin-bottom:0;
  }
#PageSelector ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#PageSelector li {
  float:left;
  background:url("images/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#PageSelector a {
  float:left;
  display:block;
  background:url("images/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#666;
  }

#PageSelector a:hover {
  color:#333;
  }
#PageSelector #current {
  background-image:url("images/left_on.gif");
  }
#PageSelector #current a {
  background-image:url("images/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }
  
#CatalogPage, #SearchPage, #FilmsPage {
	clear:both;
	padding:0;
	border-left:2px solid #808080;
	border-right:2px solid #808080;
	border-bottom:0px;
}

.clear {
	clear:both;
	height:1px;
	overflow:hidden;
}

TABLE.recomended, TABLE.lastrating, TABLE.lastcomments{
	font-size:8pt;
}

#FilterBox,#FilterBox table, #FilterBox select{
	font-size:8pt;
}

.sectionheader {
	font-size:10pt;
	font-weight:bold;
}

TABLE.film {
	font-size:8pt;
}

TABLE.filmdetail {
	font-size:8pt;
}

TABLE.filmdetail TD{
	border-bottom: 1px solid #F0F0F0;
}

DIV.PersonSelected{
	margin:5px;
	font-size:8pt;
	float:left;
	border : 1px solid silver;
	text-align : justify;
	clear : both;
	width : 97%;
	padding : 5px;
	background : #F5F5F5;
}

DIV.PersonUnselected {
	margin:5px;
	font-size:8pt;
	float:left;
	clear : none;
	width : 100px;
	text-align : center;
	border : 0px;
	padding : 0px;
	background : white;
}

TD.hcomment_left, TD.hcomment_center, TD.hcomment_right{
	background : silver url('images/hcomment_left.gif');
	height:20px;
	font-size  : 8pt;
}

TD.hcomment_center{
	background : silver url('images/hcomment_center.gif');
}

TD.hcomment_right{
	background : silver url('images/hcomment_right.gif');
}


TD.footer1, TD.footer2, TD.footer3{
	background : silver url('images/footer_left.gif');
	height:63px;
	border-top : 0px;
}

TD.footer2{
	background : white url('images/footer_center.gif');
	font-size  : 8pt;
	text-align : right;
}

TD.footer3{
	background : white url('images/footer_right.gif');
}

TABLE.playfilm{
	font-size  : 8pt;
	border-top : 1px solid silver;
	border-left : 1px solid silver;
	border-right : 0px;
	border-bottom : 0px;
	border-collapse: collapse;
}
TABLE.playfilm TR TD{
	border-top : 0px;
	border-left : 0px;
	border-right : 1px solid silver;
	border-bottom : 1px solid silver;
}

.alert_link{
	font-weight:bold;
	background-color:#CC1111;
	color:#FFFFFF;
}

.paginator {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
}

.paginator a, .paginator span{
    padding-left: 3px;
    padding-right: 3px;
    font-size: 8pt;
}

.paginator .current{
    background-color: #E1E1E1;
    font-weight: bold;
    margin: 2px;
}

.paginator .disabled {
    border: 0;
}

.paginator a.short {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 7pt;
}

.paginator .arrow {
    font-size: 10pt;
    border: 0;
}